{% load static %}
<footer class="w-full bg-[#050505] py-32 text-white">
  <div class="container mx-auto flex flex-col p-10 lg:p-0 lg:flex-row gap-6 justify-between">
    <div class="flex flex-col space-y-10">
      <!-- prettier-ignore -->
      <div>
        <img src="https://cdn.mandmrecovery.co.uk/logo-white.svg" alt="">
       </div>
      <div class="flex flex-row space-x-3 font-semibold">
        <img src="https://cdn.mandmrecovery.co.uk/calling.svg" alt="" />
        <p class="text-white! text-2xl!">0741 742 5174</p>
      </div>
    </div>
    <div>
      <p class="text-white! text-2xl! mb-6">Quick Links</p>
      <ul class="text-white/50 space-y-4">
        <li>
          <a href="{% url 'index' %}#Why-Us">Why Us?</a>
        </li>
        <li>
          <a href="{% url 'index' %}#Services">Services</a>
        </li>
        <li>
          <a href="{% url 'index' %}#client-reviews">Reviews</a>
        </li>
        <li>
          <a href="tel:+447417425174" class="">Call Now</a>
        </li>
      </ul>
    </div>

    <div>
      <p class="text-white! text-2xl! mb-6">Our Services</p>
      <ul class="text-white/50 space-y-4">
        <li><a>Emergency Vehicle Recovery</a></li>
        <li><a>Long-Distance Towing</a></li>
        <li><a>Roadside Assistance</a></li>
        <li><a>Accident Vehicle Transport</a></li>
        <li><a>Commercial Vehicle Towing </a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-8">
      <div class="flex flex-col jusify-center items-center bg-white/5 outline-2 outline-white/10 rounded-[10px] p-5 space-y-2">
        <span class="text-white! font-medium">Excellent</span>
        <img src="{% static 'social_icons/trust-pilot.svg' %}" alt="" />
        <span class="max-w-sm text-center text-[#969FB7]"
          >Rated 5 stars based on 30 <br />
          reviews on</span
        >
        <div class="w-32 h-auto">
          <img src="https://cdn.mandmrecovery.co.uk/g-logo.png" alt="" class="w-full h-full" />
        </div>
      </div>
    </div>
  </div>
</footer>
